.ip-remote {
  margin: 0 0 55px 0;
  padding: 45px;
  background: url(images/ip-remote__bg.png);
  text-align: center;
  outline: 2px rgba(255,255,255,.5) solid;
  outline-offset: -10px;
}
.ip-remote__title {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 29px;
  color: #64a104;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.ip-remote__subtitle {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
}
.ip-remote__items {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
@media(min-width: 900px) {
  .ip-remote__items {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }
}
.ip-remote__item {
  max-width: 300px;
  position: relative;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-align: left;
}
.ip-remote__icon {
}
.ip-remote_svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  fill: #64a104;
}
.ip-remote__text {
  margin-top: 5px;
  padding-left: 70px;
  max-width: 230px;
}
